<form method="POST" action="">
    <div class="form-group">

        <label for="first_name">First Name</label>
        <input id="first_name" class="form-control" type="text" placeholder="First Name" name="first_name"
               required value=""/>

        <label for="family_name">First Name</label>
        <input id="family_name" class="form-control" type="text" placeholder="Family Name" required
               name="family_name" value=""/>

        <label for="date_of_birth">Date of Birth:</label>
        <input id="date_of_birth" class="form-control" type="date" name="date_of_birth" value=""/>

        <label for="date_of_death">Date of Death:</label>
        <input id="date_of_death" class="form-control" type="date" name="date_of_death" value=""/>

        <button class="btn btn-primary" type="submit">Submit</button>

    </div>
</form>